In [10]:
# Célula 1 — Preparar ambiente e carregar dados
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# criar pasta para salvar figuras/saídas
os.makedirs("outputs/figs", exist_ok=True)
os.makedirs("outputs/tables", exist_ok=True)

# carregar o arquivo tratado (antes do one-hot)
file_path = "data/processed/titanic_final.csv"
df = pd.read_csv(file_path)

print("Arquivo carregado:", file_path)
print("Dimensões:", df.shape)
display(df.head())

Arquivo carregado: data/processed/titanic_final.csv
Dimensões: (891, 12)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,B96 B98,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,14.4542,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,B96 B98,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,B96 B98,S

In [11]:
# Célula 2 — Estatísticas descritivas (resumo)
num_cols = df.select_dtypes(include=[np.number]).columns.tolist()

summary = df[num_cols].agg(['count', 'mean', 'median', 'var', 'std', 'min', 'max']).T
summary = summary.rename(columns={'var':'variance', 'std':'std_dev', 'median':'median'})
display(summary)

# salvar tabela
summary.to_csv("outputs/tables/titanic_descriptive_stats.csv")
print("Resumo salvo em outputs/tables/titanic_descriptive_stats.csv")

             count        mean    median      variance     std_dev  min    max
PassengerId  891.0  446.000000  446.0000  66231.000000  257.353842  1.0  891.0
Survived     891.0    0.383838    0.0000      0.236772    0.486592  0.0    1.0
Pclass       891.0    2.308642    3.0000      0.699015    0.836071  1.0    3.0
Age          891.0   28.468013   28.0000     95.858245    9.790722  3.0   54.0
SibSp        891.0    0.297419    0.0000      0.272117    0.521648  0.0    2.0
Parch        891.0    0.000000    0.0000      0.000000    0.000000  0.0    0.0
Fare         891.0   17.383622   14.4542    161.620787   12.713016  0.0   65.0

Resumo salvo em outputs/tables/titanic_descriptive_stats.csv